<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40869672927-95ss1g32m5um69o9evp9tgrsefs34ajq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40869672927-95ss1g32m5um69o9evp9tgrsefs34ajq</string>
	<key>API_KEY</key>
	<string>AIzaSyApTP33HACuXcKLmvF_ixxXeKjzfyzzn-8</string>
	<key>GCM_SENDER_ID</key>
	<string>40869672927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocExample</string>
	<key>PROJECT_ID</key>
	<string>buukalemunapp</string>
	<key>STORAGE_BUCKET</key>
	<string>buukalemunapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40869672927:ios:855dce95b99484d954366a</string>
	<key>DATABASE_URL</key>
	<string>https://buukalemunapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>